.landing_page {
  width: 100%;
  height: 80vh;
  margin-bottom: 2rem;
  margin-top:-1rem;
  .landing_page_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
      url("https://images.unsplash.com/photo-1602002418206-1f0c0ebdaef4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGhvbmV5bW9vbiUyMGlzbGFuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .landing_page_content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 3rem;
        color: white;
      }
      button {
        width: 15rem;
        height: 4rem;
        font-size: 1.7rem;
        text-transform: uppercase;
        color: white;
        background-color: black;
        border: 1px solid white;
        cursor: pointer;
        transition: all 300ms linear;
        &:hover {
          color: black;
          background-color: white;
          border: 2px solid black;
        }
      }
    }
  }
}
