.news_letter {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color:black;
  background-color: rgba(8, 7, 7, 0.911);
  color: white;
  .news_letter_wrapper {
    width: 1100px;
    height: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .news_letter_wrapper_left {
      width: 40%;
      height: 100%;
      display: flex;
      padding: 2rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      h3 {
        font-size: 2.3rem;
        font-weight: 600;
      }
      p {
        font-size: 1.6rem;
        color: white;
        // color: rgba(0, 0, 0, 0.8);
      }
      .news_letter_email_div {
        width: 100%;
        height: 5rem;
        form {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          input {
            height: 100%;
            width: 70%;
            font-size: 1.3rem;
            color: black;
            outline: none;
          }
          button {
            width: 28%;
            height: 100%;
            font-size: 1.8rem;
            text-transform: uppercase;
            color: white;
            background-color: black;
            border: 1px solid white;
            cursor: pointer;
            transition: all 300ms linear;
            &:hover {
              color: black;
              background-color: white;
              border: 2px solid black;
            }
          }
        }
      }
      .news_letter_socialhandles {
        border-top: 1px solid white;
        // border-top: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 15rem;
        margin-top: 2rem;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .icons_div {
          width: 40%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .icons {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background-color: black;
            color: white;
            font-size: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .news_letter_wrapper_right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
     .news_letter_wrapper_right_left{
       width: 40%;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       padding: 2rem;
       .links{
         font-size: 1.8rem;
         text-decoration: none;
         display: flex;
         align-items: center;
         margin-top: 1rem;
         transition: all 400ms linear;
         cursor: pointer;
         &:hover{
           border-bottom: 1.4px solid white;
         }
       }
     }
     .news_letter_wrapper_right_right{
      width: 58%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      h3{
        font-size: 2.3rem;
        font-weight: 100;
        color: hotpink;
      }
      span{
        font-size: 2rem;
        display: flex;
        align-items: center;
      }
      .phone{
        color: rgb(163, 10, 68) ;
        font-size: 2.4rem;
        margin-right: 1rem;
      }
      .at{
        font-size: 1.5rem;
        margin-top: 3rem;
      }
     }
    }
  }
}
