.inspirationPage{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.8)) , url('https://images.pexels.com/photos/3285716/pexels-photo-3285716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        color: white;
        font-size: 4rem;
        text-transform: uppercase;
    }
    p{
        color: white;
        font-size: 2rem;
    }
}